<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla - Vi erbjuder</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>

  <!-- Header -->



  <div class="ham-meny"><span class="hamburger" data-responsive-toggle="meny"><span data-toggle>Meny</span><i class="fa fa-caret-down fa-1x arrow" data-toggle></i></span> </div>

  <div class="top-bar flex-container row">
    <div class="top-bar-title column small-4 medium-2">
      <img src="../images/logo/vanilla-logo.svg" alt="Logga" class="logo">
    </div>
    <div class="column small-12 medium-10">
      <div id="meny" class="top-bar-right">
        <ul class="menu vertical medium-horizontal toggle-style" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="#">Hem</a></li>
          <li><a href="#">Vi erbjuder</a></li>
          <li><a href="#">Projekt</a></li>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>


<!--
    <div class="top-bar">
      <div class="top-bar-title">
        <img src="../images/logo/vanilla-logo.svg" alt="Logga" class="logo">
        <div style="position: absolute; top: 0; right: 0"><span class="right" data-responsive-toggle="meny">Meny<i class="fa fa-caret-down fa-1x arrow" data-toggle></i></span></div>
      </div>

      <div id="meny">
      <div class="top-bar-right">
        <ul class="menu drilldown large-horizontal flex-container" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="#">Hem</a></li>
          <li><a href="#">Vi erbjuder</a></li>
          <li><a href="#">Projekt</a></li>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
      </div>
    </div>
-->





<!--
    <div class="row">
      <div class="large-3 medium-4 small-6 columns">
        <img src="../images/logo/vanilla-logo.svg" alt="Logga">
      </div>
      <div class="large-9 medium-8 small-6 columns">
        
        <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
          <span data-toggle>
          <div class="title-bar-title">Meny<i class="fa fa-caret-down fa-1x arrow"></i></span></div>
        </div>

        <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top">

          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a href="#">Hem</a></li>
              <li><a href="#">Vi erbjuder</a></li>
              <li><a href="#">Projekt</a></li>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
-->
    
    <!-- Slut på Header -->
   
    <!-- Innehåll --> 
    <div class="row">
      <div class="medium-6 small-12 columns text-center"> 
        <i class="fa fa-heart-o fa-4x"></i> 
        <h3>Tillgänglighet</h3>
        <p>Vi lyfter fram ert innehåll och gör det tillgängligt för alla målgrupper. Vi följer WCAG 2.0 standard för att försäkra oss om att såväl bilder, texter som annat innehåll kan ses och användas av så många användare som möjligt.</p>
      </div>
      <div class="medium-6 columns text-center">
        <i class="fa fa-laptop fa-4x"></i> 
        <h3>Responsiv design</h3>
        <p>Vi bygger responsiva webbplatser som anpassar sig för den typ av enhet som besökaren använder. Webbplatsen anpassas både mobiler, surfplattor och datorer samt maximerar upplevelsen oavsett skärmteknik. </p>
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns text-center">
        <i class="fa fa-mobile fa-5x"></i>
        <h3>Mobile first</h3>
        <p>Vi jobbar efter mobile first för att användaren ska få en så bra upplevelse som möjligt även på små skärmar. Då många i dag gör sina ärenden på internet under just på sin mobil. </p>
      </div>
      <div class="medium-6 small-12 columns text-center">
        <i class="fa fa-cogs fa-4x"></i>
        <h3>Experter på UX</h3>
        <p>Vi sätter besökarens upplevelse i fokus. Genom användartester och undersökningar vet vi besökaren behov och önskemål. Vi designar användarvänliga och ändamålsenliga webbplatser!</p>
      </div>
    </div>
    <!-- Slut på Innehåll -->

    <!-- Footer -->
    <div class="row">
      <div class="large-12 columns">
        <ul class="vertical medium-horizontal menu flex-container align-justify">
          <li><a href="#">Hem</a></li>
          <li><a href="#">Vi erbjuder</a></li>
          <li><a href="#">Projekt</a></li>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <!-- Slut på Footer -->

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/dist/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
