<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla - Vi erbjuder</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>

  <!-- Header -->
  <div class="ham-meny hide-for-medium-up"><span class="hamburger" data-responsive-toggle="meny"><span data-toggle>Meny</span><i class="fa fa-caret-down fa-1x arrow" data-toggle></i></span> </div>

  <div class="top-bar flex-container row">
    <div class="top-bar-title column small-4 medium-2">
      <a href="../index.html"><img src="../images/logo/vanilla-logo.svg" alt="Logga" class="logo"></a>
    </div>
    <div class="column small-12 medium-10">
      <div id="meny" class="top-bar-right">
        <ul class="menu vertical medium-horizontal toggle-style flex-container align-justify" data-responsive-menu="drilldown medium-dropdown">
          <li><a href="../index.html" class="menuitem">Hem</a></li>
          <li><a href="erbjuder.html" class="menuitem active">Vi erbjuder</a></li>
          <li><a href="projekt.html" class="menuitem">Projekt</a></li>
          <li><a href="om-oss.html" class="menuitem">Om oss</a></li>
          <li><a href="kontakt.html" class="menuitem">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
    <!-- Slut på Header -->

    <!-- Innehåll --> 
    <div class="row">
      <div class="medium-6 small-12 columns text-center background-green erbjuder">
        <div class="row align-middle">
          <span class="fa fa-heart-o fa-5x small-4 columns medium-12 columns icon-hover" aria-hidden="true"></span> 
          <div class="small-8 columns medium-12 columns text-left medium-text-center">
            <h2>Tillgänglighet</h2>
            <p>Vi lyfter fram ert innehåll och gör det tillgängligt för alla målgrupper. Vi följer WCAG 2.0 standard för att försäkra oss om att såväl bilder, texter som annat innehåll kan ses och användas av så många användare som möjligt.</p>
          </div>  
        </div> 
      </div>
      <div class="medium-6 columns text-center background-border erbjuder">
        <div class="row align-middle">
          <div class="small-4 columns medium-12 columns icon-hover icon-resp">
            <span class="fa fa-laptop fa-5x" aria-hidden="true"></span> 
            <span class="fa fa-mobile fa-5x" aria-hidden="true"></span>
          </div>
          <div class="small-8 columns medium-12 columns text-left medium-text-center">
            <h2>Responsiv design</h2>
            <p>Vi bygger responsiva webbplatser som anpassar sig för den typ av enhet som besökaren använder. Webbplatsen anpassas till både mobiler, surfplattor och datorer samt maximerar upplevelsen oavsett skärmteknik.</p>
          </div>  
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns text-center small-order-4 medium-order-3 background-border erbjuder">
        <div class="row align-middle">
          <span class="fa fa-mobile fa-5x csmall-4 columns medium-12 columns icon-hover" aria-hidden="true"></span> 
          <div class="small-8 columns medium-12 columns text-left medium-text-center">
            <h2>Mobile first</h2>
            <p>Vi jobbar efter mobile first för att användaren ska få en så bra upplevelse som möjligt, även på små skärmar. Då många människor i dag surfar väldigt mycket på sin mobil och surfplatta. </p>
          </div>
        </div>    
      </div>
      <div class="medium-6 small-12 columns text-center small-order-3 medium-order-4 background-green erbjuder">
        <div class="row align-middle">
          <span class="fa fa-cogs fa-5x small-4 columns medium-12 columns icon-hover"></span>
          <div class="small-8 columns medium-12 columns text-left medium-text-center">
            <h2>Experter på UX</h2>
            <p>Vi sätter besökarens upplevelse i fokus. Genom användartester och undersökningar får vi god förståelse för besökarens behov och önskemål. Vi designar användarvänliga och ändamålsenliga webbplatser!</p>
          </div>
        </div>    
      </div>
    </div>
    <!-- Slut på Innehåll -->

    <!-- Footer -->
    <footer>
      <div class="row bottom-nav hide-for-small-only">
        <div class="small-12 columns text-center">
          <ul class="vertical medium-horizontal menu flex-container align-justify">
            <li><a href="../index.html">Hem</a></li>
            <li><a href="erbjuder.html" class="active">Vi erbjuder</a></li>
            <li><a href="projekt.html">Projekt</a></li>
            <li><a href="om-oss.html">Om oss</a></li>
            <li><a href="kontakt.html">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <div class="row align-center contact-info">
        <div class="column align-middle text-center">
          <div>Vanilla Webdesign</div>
          <div>Skånegatan 90, 116 37 Stockholm</div>
          <div>tel: 070 000 000</div>
          <div>info@vanillaweb.se</div>
         </div> 
      </div>
      <div class="row align-center">
        <div class="small-12 columns text-center">
          <span class="fa fa-facebook-official fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-instagram fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-twitter-square fa-2x icon" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row align-center follow-us">
        <div class="follow-us">
              <p>Följ oss på sociala medier!</p>
        </div> 
      </div>
    </footer>  
    <!-- Slut på Footer -->


    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/dist/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
