<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla - Vi erbjuder</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>

    <!-- Header -->
    <div class="ham-meny"><span class="hamburger" data-responsive-toggle="meny"><span data-toggle>Meny</span><i class="fa fa-caret-down fa-1x arrow" data-toggle></i></span> </div>

    <div class="top-bar flex-container row vit-kant">
      <div class="top-bar-title column small-4 medium-2">
        <a href="../index.html"><img src="../images/logo/vanilla-logo.svg" alt="Logga" class="logo"></a>
      </div>
      <div class="column small-12 medium-10">
        <div id="meny" class="top-bar-right">
          <ul class="menu vertical medium-horizontal toggle-style flex-container align-justify" data-responsive-menu="drilldown medium-dropdown">
             <li><a href="../index.html">Hem</a></li>
            <li><a href="erbjuder.html">Vi erbjuder</a></li>
            <li><a href="projekt.html">Projekt</a></li>
            <li><a href="om-oss.html" >Om oss</a></li>
            <li><a href="kontakt.html" class="active">Kontakt</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Slut på Header -->
   
    <!-- Innehåll --> 
    <section class="background-skew"></section>
    <div class="row">
      <!-- Left -->
      <div class="small-12 medium-6 columns text-left"> 
          <h2>Hör av er till oss!</h2>
        <form> 
              <label>Fyll i ditt namn:
                <input type="text" />
              </label>
              <label>Epost-adress:
                  <input type="text" />
              </label>
          <label>
              Vad kan vi stå till stjänst med?
              <textarea class="area-height" placeholder="Kära Vanilla Web Design"></textarea>
          </label>
            <a role="button" aria-label="submit form" href="#" class="button">Skicka!</a>
        </form>
      </div>
      <!-- Left -->
      <!-- Right -->
      <div class="small-12 medium-6 columns">
        <h2>Hitta hit:</h2>
        <p>Skånegatan 90, Stockholm</p>
        <img src="../images/kontakt/karta_sm60.jpg" alt="karta" class="karta"> 

            <div class="small-6 columns">
              <b>Tunnelbana:</b> Medborgarplatsen<br>
              <b>Buss:</b> 66, 3, 53, 76<br>
              <b>Vägbeskrivning: </b><a href="https://www.google.se/maps/dir/''/Sk%C3%A5negatan+90,+Stockholm/@59.3124784,18.0774653,16z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x465f77f77e4d1e1d:0x307eff513191ebc0!2m2!1d18.0818427!2d59.3124785" target="_blank" class="underline">Klicka här</a>  
            </div>
      </div>
      </div>
      <!-- Right -->
    <!-- Slut på Innehåll -->

    <!-- Footer -->
    <footer>
      <div class="row bottom-nav hide-for-small-only">
        <div class="small-12 columns text-center">
          <ul class="vertical medium-horizontal menu flex-container align-justify">
            <li><a href="../index.html">Hem</a></li>
            <li><a href="erbjuder.html">Vi erbjuder</a></li>
            <li><a href="projekt.html">Projekt</a></li>
            <li><a href="om-oss.html">Om oss</a></li>
            <li><a href="kontakt.html" class="active">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <div class="row align-center contact-info">
        <div class="column align-middle text-center">
          <div>Vanilla Webdesign</div>
          <div>Skånegatan 90, 116 37 Stockholm</div>
          <div>tel: 070 000 000</div>
          <div>info@vanillaweb.se</div>
         </div> 
      </div>
      <div class="row align-center">
        <div class="small-12 columns text-center">
          <span class="fa fa-facebook-official fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-instagram fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-twitter-square fa-2x icon" aria-hidden="true"></span>
        </div>
      </div>
      <div class="row align-center contact-info">
        <div class="column align-middle text-center">
          <div>Följ oss på sociala medier!</div>
         </div> 
      </div>
    </footer>  
    <!-- Slut på Footer -->


    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/dist/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
