<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla - Vi erbjuder</title>
    <link rel="stylesheet" href="../css/app.css">
<!--     <link rel="stylesheet" href="../css/foundation.css"> -->
    <link rel="stylesheet" href="../fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>

    <!-- Header -->
    <div class="row">
      <div class="large-3 medium-4 small-6 columns">
        <img src="../images/logo/vanilla-logo.svg" alt="Logga">
      </div>
      <div class="large-9 medium-8 small-6 columns">
        
        <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Meny<i class="step fi-arrow-down size-12"></i> <!-- Foundation ikon --></div>
        </div>

        <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a href="#">Hem</a></li>
              <li><a href="#">Vi erbjuder</a></li>
              <li><a href="#">Projekt</a></li>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Slut på Header -->
   
    <!-- Innehåll --> 
<!--     <style="background-color: light"> -->
    <div class="row">
      <div class="small-12 medium-6 columns text-left"> 
        <h3>Hör av er till oss!</h3>
      <form>
        <div class="row">
          <div class="small-12 columns">
            <label>Fyll i ditt namn:
              <input type="text" placeholder="large-12.columns" />
            </label>
          </div>
              <div class="small-12 columns" style="foundation-palette: primary">
            <label>Epost-adress:
              <input type="text" placeholder="large-12.columns" />
            </label>
          </div>
        </div>

        <label>
          Vad kan vi stå till stjänst med?
          <textarea placeholder="Kära Vanilla Web Design"></textarea>
        </label>
          <a role="button" aria-label="submit form" href="#" class="button">Skicka</a>
        </div>
      </form>
        
      <div class="small-12 medium-6 columns text-left">
        <h3>Hitta hit</h3>
        <p>Här ska kartan in </p>
      </div>
    </div>
    <!-- Slut på Innehåll -->

    <!-- Footer -->
    <div class="row">
      <div class="large-6 columns">
        <ul class="vertical medium-horizontal menu">
          <li><a href="#">Hem</a></li>
          <li><a href="#">Vi erbjuder</a></li>
          <li><a href="#">Projekt</a></li>
          <li><a href="#">Om oss</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <!-- Slut på Footer -->

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/dist/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
