<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla - Vi erbjuder</title>
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../fonts/foundation-icons/foundation-icons.css" />
    <link rel="stylesheet" href="../fonts/font-awesome/css/font-awesome.min.css" />
  </head>
  <body>

    <!-- Header -->
    <div class="row">
      <div class="large-3 medium-4 small-6 columns">
        <img src="../images/logo/vanilla-logo.svg" alt="Logga">
      </div>
      <div class="large-9 medium-8 small-6 columns">
        
        <div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Meny<i class="step fi-arrow-down size-12"></i> <!-- Foundation ikon --></div>
        </div>

        <div class="top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li><a href="#">Hem</a></li>
              <li><a href="#">Vi erbjuder</a></li>
              <li><a href="#">Projekt</a></li>
              <li><a href="#">Om oss</a></li>
              <li><a href="#">Kontakt</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Slut på Header -->
   
    <!-- Innehåll --> 
    <div class="row">
      <div class="large-12 columns background-green projekt">
        <div class="row align-middle media-object-section">
          <img src="../images/projekt/projekt_bike.jpg" class="small-12 columns large-8 columns">
          <div class="small-12 column large-4 columns flex-dir-column projekt-text">
            <span class="fa fa-angle-double-down hide-for-large" aria-hidden="true"></span>
            <span class="fa fa-angle-double-right fa-2x show-for-large" aria-hidden="true"></span>
            <p>"Vi på BikeNow är otroligt nöjda med att nu sticka ut i från mängden av annars snarlika cykelsidor och kunna visa våra kunder en modern, respons och mycket användarvänlig sida. Detta tack vara det jobb och engagemang som Vanilla web design lagt ner på oss som företag och på denna webbsida."</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns background-border projekt">
        <div class="row align-middle media-object-section">
          <img src="../images/projekt/projekt_bar.jpg" class="small-12 columns large-8 columns small-order-1 large-order-2">
          <div class="small-12 column large-4 columns small-order-2 large-order-1 projekt-text">
            <span class="fa fa-angle-double-down hide-for-large" aria-hidden="true"></span>
            <span class="fa fa-angle-double-left fa-2x show-for-large" aria-hidden="true"></span>
            <p>"Äntligen kan våra kunder på ett enkelt och modern sätt boka bord på vår restaurang. Nu hittar många fler kunder hit och bokar bord i förväg samtidigt som vi får mer tid till kunderna på plats då vi inte får ärenden per telefon särskilt ofta längre."</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns background-green projekt">
        <div class="row align-middle media-object-section">
          <img src="../images/projekt/projekt_blomster.jpg" class=" small-12 columns large-8 columns">
          <div class="small-12 column large-4 columns media-object-section projekt-text">
            <span class="fa fa-angle-double-down hide-for-large" aria-hidden="true"></span>
            <span class="fa fa-angle-double-right fa-2x show-for-large" aria-hidden="true"></span>
            <p>"Nu kan vi kommunicera med våra kunder på ett mycket bättre sätt en tidigare. Det känns så kul att genom en väldesignat webbsida kunna inspirera och förgylla våra kunders vardag. Vi tycker sidan är så fin och vi är otroligt glada över att den fungerar lika bra i telefonen som på en laptop."</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns background-border projekt">
        <div class="row align-middle media-object-section">
          <img src="../images/projekt/projekt_frisor.jpg" class=" small-12 columns large-8 columns small-order-1 large-order-2">
          <div class="small-12 column large-4 columns media-object-section small-order-2 large-order-1 projekt-text">
            <span class="fa fa-angle-double-down hide-for-large" aria-hidden="true"></span>
            <span class="fa fa-angle-double-left fa-2x show-for-large" aria-hidden="true"></span>
            <p>"För oss som som egenföretagare underlättar denna websida jättemycket. Nu har vi ett bra bokningssystem som är enkelt för båda oss och våra kunder att använda."</p>
          </div>
        </div>
      </div>
    </div>
          
    <!-- Slut på Innehåll -->

    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="large-6 columns">
          <ul class="vertical medium-horizontal menu">
            <li><a href="#">Hem</a></li>
            <li><a href="#">Vi erbjuder</a></li>
            <li><a href="#">Projekt</a></li>
            <li><a href="#">Om oss</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
        </div>
      </div>
      <div class="row align-center">
        <div class="column align-middle text-center">
          <div>Vanilla Webdesign</div>
          <div>Skånegatan, Stockholm</div>
          <div>tel: 070 000 000</div>
          <div>info@vanillaweb.se</div>
         </div> 
      </div>
      <div class="row align-center">
        <div class="small-4 columns text-center">
          <span class="fa fa-facebook-official fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-instagram fa-2x icon" aria-hidden="true"></span>
          <span class="fa fa-twitter-square fa-2x icon" aria-hidden="true"></span>
        </div>
      </div>
    </footer>  
    <!-- Slut på Footer -->

    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/what-input/dist/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.js"></script>
    <script src="../js/app.js"></script>
  </body>
</html>
